@import "tailwindcss";

@font-face {
  font-family: 'Dogica';
  src: url('./assets/fonts/dogica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DogicaBold';
  src: url('./assets/fonts/dogicabold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DogicaPixel';
  src: url('./assets/fonts/dogicapixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DogicaPixelBold';
  src: url('./assets/fonts/dogicapixelbold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


* {
    font-family: 'DogicaPixel';
}